---
import BaseLayout from "@layouts/BaseLayout.astro";
---
<BaseLayout title="Contact • Georgia von Minden">
  <section class="container" style="padding:2rem 0 3rem 0;">
    <h1>Contact</h1>
    <p>
      Email:
      <a href="mailto:georgia.vonminden@gmail.com" aria-label="Email Georgia">
        georgia [at] gmail [dot] com
      </a>
    </p>
    <p>
      LinkedIn:
      <a href="https://www.linkedin.com/in/von-minden-ga/" target="_blank" rel="noopener noreferrer">
        linkedin.com/in/von-minden-ga
      </a>
    </p>
  </section>
</BaseLayout>