
---
import BaseLayout from "@layouts/BaseLayout.astro";
---
<BaseLayout title="Contact • Georgia von Minden">
  <section class="container" style="padding:2rem 0 3rem 0;">
    <h1>Contact</h1>
    <p>Best way to reach me: <a href="mailto:georgia@example.com">georgia@example.com</a></p>
  </section>
</BaseLayout>
